.button {
  background: transparent;
  border: none;
  font-size: 18px;
  padding: 5px 15px;
  border-bottom: 2px solid white;
}
.button:focus {
  border: none;
  outline: none;
}
.button.active {
  color: #f11ba9 !important;
  border-bottom: 2px solid #f11ba9 !important;
}
.button.active:hover {
  color: #f11ba9 !important;
  border-bottom: 2px solid #f11ba9 !important;
}
.button:hover {
  color: #848484;
}
